html {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body,
#root,
#app {
    height: 100%;
}

h1 {
    font-size: 3em;
}
div#app {
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    max-width: 800px;
    margin: 0 auto;
}

label {
    font-size: 2em;
    input {
        font-size: 1.5em;
        font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        padding: 5px;
        font-weight: 300;
    }
}

label span {
    font-weight: bold;
    font-size: 2;
    margin-right: 0.5em;
    margin-bottom: 0.2em;
    display: block;
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ddd;
}
